<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>our big evil corporate empire</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsD1csD3_bu3T_Z6oKr5RWX-dw5keUAbbfD6iO77xIkei368bG3A" height=450 width=750 alt="">
        </div>
        <div class="col-md-6">
            <h2>About Big Evil Corp.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="https://tse3.mm.bing.net/th?id=OIP.M529b5fe7d4b12c80e70bac8e9bb2eb9do0&pid=15.1&P=0&w=278&h=157" height=450 width=750 alt="">
                <div class="caption">
                    <h3>Billy Gates<br>
                        <small>Big Boss Man</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="https://tse1.mm.bing.net/th?id=OIP.Mce68a8b70e12e3aa1fdddeb389d33c47o0&pid=15.1&P=0&w=332&h=187" height=450 width=750 alt="">
                <div class="caption">
                    <h3>Stevie Jobs<br>
                        <small>Idea Man from Beyond</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="https://tse2.mm.bing.net/th?id=OIP.M0d6525876aeaf3c68d35b713523cfa0do2&pid=15.1&P=0&w=400&h=201" height=450 width=750 alt="">
                <div class="caption">
                    <h3> Ellie Musk<br>
                        <small>Space Main Man</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="https://tse1.mm.bing.net/th?id=OIP.Mc13c1f596a9285ad078a09296fa06458o2&pid=15.1&P=0&w=340&h=170" height=450 width=750 alt="">
                <div class="caption">
                    <h3>Warrie Buffet<br>
                        <small>Money Man</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="https://tse1.mm.bing.net/th?id=OIP.Maf414c2e455580ff829a7f99c827ed4do0&pid=15.1&P=0&w=241&h=159" height=450 width=750 alt="">
                <div class="caption">
                    <h3>Donnie Trump<br>
                        <small>Prez</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="https://tse1.mm.bing.net/th?id=OIP.M9b27831a9d85448922eb7c50a3ce2bc2H2&pid=15.1&P=0&w=284&h=173" height=450 width=750 alt="">
                <div class="caption">
                    <h3>Oprie Winfrey<br>
                        <small>Chief Operating Woman</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://img11.deviantart.net/f60c/i/2016/175/6/0/fsociety_by_luigieiro-da7idgq.png" width=500 height=300 alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTgGV4z1B6wQNa9peJkktsGxFxIHlpGMh-I_LLhnLfQUxwu_6Ay" width=500 height=300 alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTqCUlcVA_BNEt_KKbHzNP2-KPNE4QQj94Qu_zFhfx-9VkbnVYXPQ" width=500 height=300 alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRi6bBocZFK56MKXGSLMuwCV5TiYOBSQiW5FZ8spYWY-2-kCZy8" width=500 height=300 alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTsHhsudwi3k0FbEVmQ_Ax-2Sih7kLcQGMdxwa2WkDPy-1BRyUQTw" width=500 height=300 alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTFTPk6sbkKC_mhz3rLfXv1AVOdwUQq3m5bDQp7kBOUYNfPVMKE" width=500 height=300 alt="">
        </div>
        
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
